<section class="home-after-before section-padding">
  <div class="Container">
    {% if section.settings.title != blank %}
    <header class="SectionHeader mob-show-title">
      <h2 class="SectionHeader__Heading shadow-bottom">{{ section.settings.title }}</h2>
    </header>
    {% endif %}
    <div class="Grid Grid--center">
      <div class="1/2--lap-and-up Grid__Cell after-before-img-col">
        <div class="img-box">
          <div id="comparison">
            <figure style="background-image: url({{ section.settings.beforeimage | img_url: 'master' }});">
              <div id="handle"></div>
              <div id="divisor" style="background-image: url({{ section.settings.afterimage | img_url: 'master' }});"></div>
            </figure>
            <input type="range" min="0" max="100" value="50" id="slider" oninput="moveDivisor()">
          </div>          
        </div>        
      </div>
      <div class="1/2--lap-and-up Grid__Cell after-before-info-col">
        {% if section.settings.title != blank %}
          <header class="SectionHeader desk-show-title">
            <h2 class="SectionHeader__Heading shadow-bottom">{{ section.settings.title }}</h2>
          </header>
        {% endif %}
        {% if section.blocks.size > 0 %}
          {% for block in section.blocks %}
            <div class="after-before-info">
              {% if block.settings.image != blank %}
                <div class="info-img">
                  <img alt="{{ block.settings.image.alt }}" src="{{ block.settings.image | img_url: 'master' }}">
                </div>
              {% endif %}
              <div class="info-box">
                {% if block.settings.title != blank %}
                  <h5>{{ block.settings.title }}</h5>
                {% endif %}
                {% if block.settings.subheading != blank %}
                  {{ block.settings.subheading }}
                {% endif %}
              </div>
            </div>
          {% endfor %}
        {% endif %}
      </div>
    </div>
  </div>
</section>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script>
  var divisor = document.getElementById("divisor"),
    handle = document.getElementById("handle"),
    slider = document.getElementById("slider");

    function moveDivisor() {
      handle.style.left = slider.value+"%";
      divisor.style.width = slider.value+"%";
    }

    window.onload = function() {
      moveDivisor();
    };
</script>

{% schema %}
  {
    "name": "After and Before",
	"max_blocks": 3,
    "settings": [
	  {
        "type": "text",
        "id": "title",
        "label": "Main Heading",
        "default": "Why choose DYNA?"
      },
	  {
        "type": "image_picker",
        "id": "beforeimage",
        "label": "Add Before Image"
      },
	  {
        "type": "text",
        "id": "beforetitle",
        "label": "Before Heading Text",
        "default": "Before"
      },
	  {
        "type": "image_picker",
        "id": "afterimage",
        "label": "Add After Image"
      },
	  {
        "type": "text",
        "id": "aftertitle",
        "label": "After Heading Text",
        "default": "After"
      }
	],
	"blocks": [
      {
        "type": "icon_text_block",
        "name": "Icon Text Block",
        "settings": [
		  {
            "type": "header",
            "content": "Top Section"
          },
		  {
            "type": "image_picker",
            "id": "image",
            "label": "Add Image"
          },
		  {
            "type": "text",
            "id": "title",
            "label": "Add Heading",
            "default": "The highest quality <span>materials on the market</span>"
          },
		  {
            "type": "richtext",
            "id": "subheading",
            "label": "Add Sub Heading",
            "default": "<p>At Dyna Performance, we never compromise quality for price and use only the highest quality materials on the market.</p>"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "After and Before",
        "category": "Image",
		"blocks": [
          {
            "type": "icon_text_block"
          },
          {
            "type": "icon_text_block"
          },
          {
            "type": "icon_text_block"
          }
        ]
      }
    ]
  }
{% endschema %}

